<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style.css'%}" rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href="{% static 'css/font-awesome.css'%}" rel="stylesheet">
<!-- Custom Theme files -->
    <script src="{% static 'js/jquery-1.12.0.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<!--animate-->
<link href="{% static 'css/animate.css'%}" rel="stylesheet" type="text/css" media="all">
<script src="{% static 'js/wow.min.js' %}"></script>
	<script>
		 new WOW().init();
		 function check(){
            if(document.getElementById("1").value!=document.getElementById("2").value)
                {
                    alert("两次密码不一致！")
                }
          }
	</script>
<!--//end-animate-->
</head>
<body>
<!--- header ---->
<div class="header">
	<div class="container">
		<div class="logo wow fadeInDown animated" >
			Asset <span>management</span>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!--- /header ---->
<!--- banner ---->
<div class="banner">
	<div class="container">
		<h1 class="wow zoomIn animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">Good morning,{{name}}</h1>
	</div>
</div>
<div class="container">
	<div class="col-md-7 bann-info wow fadeInRight animated" >
		<h2>Password modification </h2>
		<form class="form-signin"id="form1" action="/change/" method="post">
        <input name="t" type="hidden"  value={{name}}>
        <div class="ban-top"style="width:1000px">
			<div class="bnr-left" style="width:33%">
				<label class="inputLabel">Original Password</label>
				<input class="city" name="origin" type="text"  required=>
			</div>
			<div class="bnr-left"style="width:33%">
				<label class="inputLabel">New Password</label>
				<input class="city" name="password1" type="password"  id="1" required=>
			</div>
            <div class="bnr-left"style="width:33%">
				<label class="inputLabel">New Password Again</label>
				<input class="city" name="password2" type="password"  id="2" required=>

			</div>
				<div class="clearfix"></div>
		</div>
		<div class="sear">
                <button class="seabtn" type="submit" onclick="check()">OK</button>
		</div>
        </form>
	</div>
	<div class="clearfix"></div>
</div>
</body>
</html>